#textdomain wesnoth-chasing_the_light

[scenario]
    id=01_The_Book
    name= _ "The Book"
    map_data="{~add-ons/Chasing_the_Light/maps/01_The_Book.map}"
	{DEFAULT_SCHEDULE}
	{TURNS 24 22 20}
	carryover_percentage=0

    victory_when_enemies_defeated=yes
	dissalow_recall=no
	next_scenario=02_Invasion
	
	##story
	[story]
		[part]
            #po: newlines at the beginning help to (depending on the screne size) center this vertically. The space at the end stops the last letter from getting cut off
            title=_"<span font_family='Oldania ADF Std' size='90000'>


<i>Chasing the Light </i>
Chapter One 
</span>"
            title_alignment=center
        [/part]
		[part]
            #po: newlines at the beginning help to (depending on the screne size) center this vertically. The space at the end stops the last letter from getting cut off
            title=_"<span font_family='Oldania ADF Std' size='90000'>


Chapter One 
Gift from Wesfolk<i>(201-188 BW) </i></span>"
            title_alignment=center
        [/part]
        [part]
            story= _ "Ця історія сталася ще задовго до того, як майбутній Король Хальдрік І навіть народився, вона розповідає про першу велику війну на Зеленому Острові, про першу війну з проклятими західняками."
            {CTL_GREEN_ISLE_ESTEN_BIGMAP}
		[/part]
        [part]
            story= _ "Ми процвітали, ми були сильні і численні. Ми жили у багатих землях, і у нас була безліч королів. І ось пришли <i>вони</i>, 'Люди Заходу'. Вони були злісні, жорстокі і брудні."
            #background=story/intro_01.webp
			{CTL_GREEN_ISLE_ESTEN_BIGMAP}
        [/part]
        [part]
            story= _ "Вони висадилися на півночі, стрімко розкидаючи свої сили по всьому Острову та захоплюючи нові землі. Західняки були нечисленні, але вони володіли таємничою силою, що вони називали 'магією', а також, за чутками, керували мстивими духами і легіонами живих мерців."
            #background=story/landscape-hills-02.webp
			{CTL_GREEN_ISLE_ESTEN_BIGMAP}
        [/part]
		
        [part]
            story= _ "Гаралін був одним з багатьох жителів Зеленого Острову, звичайним хлопчиною з невеликого прикордонного селища на півночі Чорнотопу. До його села ще не докотилися новини про висадку західняків, тому всі жили своїм звичним життям."
		    #background=story/landscape-castle.webp
			{CTL_GREEN_ISLE_ESTEN_BIGMAP}
		[/part]
		
		[part]
            story= _ "Але приблизно з того часу хлопця почав турбувати загадковий безвучний голос, що іноді лунав в його голові, розповідаючи про шлях Світла. Гаралін спочатку намагався ігнорувати його, але зрештою почав потроху прислухатися до нього, бо той часто давав корисні поради, хоча так і не розумів, чи то справді з ним хтось розмовляє, чи то просто його відчуття озвучувалися в думках."
            {CTL_GREEN_ISLE_ESTEN_BIGMAP}
		[/part]
		
		
		[part]
            story= _ "І ось одного разу він знову почув той самий голос, що кликав його на північ села."
            {CTL_GREEN_ISLE_ESTEN_BIGMAP}
		[/part]
		
		[part]
            story= {CAPTION ( _ "???")} + _ "Гараліне, твій час майже настав. Ти зрозумієш, коли побачиш все сам
...
Хай направить тебе Світло."
        [/part]
    [/story]
	
	{CTL_GIE_TRACK {JOURNEY_01} }
	
    ##sides
    [side]
        side=1
        id,defeat_condition=haralin,never

        {GOLD 150 100 50}
        {INCOME 2 1 0}
        controller=human
        team_name=Islefolk
				[unit]
            id=guard1
			type=Spearman
            side=1
			facing=n
            x=13
            y=12
            {IS_LOYAL}
        [/unit]
		#ifdef NORMAL
		[unit]
            id=guard2
			type=Bowman
            side=1
			facing=n
            x=22
            y=13
            {IS_LOYAL}
        [/unit]
		#endif
		
		#ifdef HARD
		[unit]
            id=guard2
			type=Bowman
            side=1
			facing=n
            x=22
            y=13
            {IS_LOYAL}
        [/unit]
		#endif
		
		#ifdef HARD
		{NAMED_UNIT 1 (Spearman) 6 3 guard3 _"Амакрі" (
            [modifications]
			facing=n
                {TRAIT_LOYAL}
            [/modifications]
        )}
		#endif
        shroud=no
        fog=no
        {FLAG_VARIANT long}
        user_team_name=_"Villagers"
    [/side]

    [side]
        side=2
        {GOLD 100 150 150}
        {INCOME 0 0 0}
		controller=ai
        id=book_master
        shroud=no
        fog=no
        team_name=Wesfolk
        user_team_name=_ "Bandits"
        {FLAG_VARIANT undead}
        recruit=bandit, Footpad, Poacher, Thug
    [/side]

    ##prestart
    [event]
        name=prestart
        [objectives]
            [objective]
                description=_ "Defeat enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Andrin"
                condition=lose
            [/objective]
			[objective]
                description= _ "Death of Haralin"
                condition=lose
            [/objective]
			{TURNS_RUN_OUT}
            [gold_carryover]
                bonus=no
                carryover_percentage=0
            [/gold_carryover]
        [/objectives]
		
		##[scroll_to_unit]
		##id=guard1
		##[/scroll_to_unit]
		
		[unit]
		{SINGLEUNITWML_FATHER}
        
		facing=n
		x=18
		y=16
        dissalow_recall=no
		canrecruit=yes
        unrenamable=yes
		[/unit]
		[set_extra_recruit]
            id=father
            extra_recruit={FATHER_BOOK_RECRUIT}
        [/set_extra_recruit]
			
		[if]
		[have_unit]
		id=haralin
		search_recall_list=yes
		[/have_unit]
		[then]
	{RECALL_XY haralin 7 16}
	[store_unit]
        {FILTER id=haralin}
        variable,kill=Haralin,yes
    [/store_unit]
		[unit]
            {SINGLEUNITWML_HARALIN}
			unrenamable=yes
			canrecruit=no
            type,name=haralin_0,_"Haralin"
            x,y=$Haralin.x,$Haralin.y
			{IS_HERO}
        [/unit]
        {CLEAR_VARIABLE Haralin}
	[/then]
	[else]
	[unit]
		{SINGLEUNITWML_HARALIN}
            name= _ "Haralin"
            unrenamable=yes
			canrecruit=no
			type=haralin_0
            side=1
            x=7
            y=16
            {IS_HERO}
    [/unit]
	
	[/else][/if]
	
	
	[hide_unit]
	id=haralin
	[/hide_unit]
	
	##bugfix
	{CLEAR_VARIABLE unlock_magic_blast}
    {CLEAR_VARIABLE unlock_levitate}
    {CLEAR_VARIABLE skill_magic_blast}
    {CLEAR_VARIABLE skill_levitate}
	{CLEAR_VARIABLE avatar}
	{CLEAR_VARIABLE is_spirit_arrived}
	{CLEAR_VARIABLE is_peasant_hater_spirit}
		
		
      [/event]
	 
    ##start	 
	[event]
    name=start
		
		##{DELAY 1200}
		{DELAY 500}
		{MODIFY_UNIT id=guard1 facing se}
		
		{DELAY 500}
		
		[message]
		speaker=guard1
		message= _"Старійшино! Бачу групу неопізнаних людей на північному сході від села! І вони схожі на бандюків!"
		[/message]
		
		{MODIFY_UNIT id=guard1 facing n}
		
		{DELAY 500}
		
		[move_unit_fake]
		type=Shadow Mage
		side=2
		x=27,26,25,24,23,22
		y=1,1,2,2,2,1
		[/move_unit_fake]
		
		[unit]
            id=book_master
            unrenamable=yes
			type=Shadow Mage
            side=2
            x=22
            y=1
			ai_special=guardian
            canrecruit=yes
        [/unit]
		
		[modify_unit]
		[filter]
		id=book_master
		[/filter]
		max_moves=5
		moves=5
		[/modify_unit]
		
		[delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Ker 22 1}
        [redraw]
        [/redraw]
        [delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Cer 22 2}
        [redraw]
        [/redraw]
        [delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Cer 21 3}
        [redraw]
        [/redraw]
        [delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Cer 22 3}
        [redraw]
        [/redraw]
        [delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Cer 23 3}
        [redraw]
        [/redraw]
        [delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Gg^Ecf 23 4}
        [redraw]
        [/redraw]
        [delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Re^Vct 19 4}
        [redraw]
        [/redraw]
		[delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Re^Vct 19 1}
        [redraw]
        [/redraw]
		[delay]
            time=150
        [/delay]
        {MODIFY_TERRAIN Re^Vct 25 3}
        [redraw]
        [/redraw]
		
		[message]
		speaker=book_master
		message= _"Складіть зброю, жалюгідні селюки, і може, ми залишимо вас в живих!"
		[/message]
		
		[message]
		speaker=father
		message= _"Та й, що це ти торочиш? Поглянь на себе, одягнений, наче місцевий дурень з ярмарку. Забирайся з нашої землі негайно!"
		[/message]
		
		[message]
		speaker=guard1
		message= _"Так, забирайся звідси! Інакше помреш!"
		[/message]
		
		[message]
		speaker=book_master
		message= _"Пф, які неосвідчені йолопи. Що ж, ви самі накликали на себе смерть."
		[/message]
		
		[message]
		speaker=father
		message= _"Ми ще подивимося, хто тут йолоп, коли скидатимемо твій труп у помийну яму!"
		[/message]
		
		{DELAY 1200}
		
		[move_unit_fake]
		type=haralin_0
		x=6,7,7
		y=18,17,16
		[/move_unit_fake]
		
		[unhide_unit]
		id=haralin
		[/unhide_unit]
		
		{MODIFY_UNIT id=haralin facing ne}
		
		{VARIABLE no_spellcasting_event dummy}
		
		[message]
		speaker=haralin
		message= _"Батьку, що тут відбувається?!"
		[/message]
		
		{MODIFY_UNIT id=father facing w}
		
		[message]
		speaker=father
		message= _"Та й, просто купка бандитів з ватажком у шутовській одежі."
		[/message]
		
		[message]
		speaker=haralin
		message= _"Що ж, тоді проженемо їх! Нарешті я використаю мою палицю!"
		[/message]
		
		[message]
		speaker=father
		message= _"Еге, тільки не заходь далеко та не роби необачних вчинків."
		[/message]
		
		{MODIFY_UNIT id=father facing n}
		
		[/event]
	
	##haralin's first attack
	[event]
    name=attack
	    [filter]
            id=haralin
        [/filter]
		[message]
		speaker=unit
		message= _"Смакуй мою палицю, бандюго!"
		[/message]
		[message]
		speaker=narrator
		message= {CAPTION ( _ "???")} + _"..."
		[/message]
		[/event]
	
	##shadow mage's first attack
	[event]
    name=attack
		[filter_attack]
		    range=ranged
		[/filter_attack]
		[filter]
            id=book_master
        [/filter]
		[message]
		speaker=unit
		message= _"Ім'ям Темряви, помри!"
		[/message]
    [/event]
	  
	[event]
    name=attacker hits
		[filter_attack]
		    range=ranged
	    [/filter_attack]
		[filter]
            id=book_master
        [/filter]
		
		[set_variable]
            name=who_attacked_by_book_master
            value=$second_unit.id
        [/set_variable]
		
		[if]
		[variable]
                name="who_attacked_by_book_master"
                equals=haralin
            [/variable]
            [then]
                [message]
		speaker=second_unit
		message= _"Аааа, що, що це таке? Невже це 'чаклунство' про це розповідають в казках?"
		[/message]
            [/then]
            [else]
                [message]
		speaker=second_unit
		message= _"Аааа, що, що це таке?"
		[/message]
		[message]
		speaker=haralin
		message= _"Батьку, що це? Схоже на 'чаклунство' з казок, які мені розповідали в дитинстві."
		[/message]
		
            [/else]
        [/if]
		
		[message]
		speaker=father
		message= _"Та й, щоб це не було, ми маємо з цим покінчити."
		[/message]
		      [/event]
	  
	##shadow mage's death and win cutscene 
	[event]
    name=last breath
        [filter]
            id=book_master
        [/filter]
		[message]
		    speaker=book_master
		    message= _"Я підвів свого Владику..."
		[/message]
		
		[message]
		    speaker=second_unit
		    message= _"<i>(удар)</i> Помри вже нарешті!"
		[/message]
		
		[harm_unit]
		    [filter]
                id=book_master
            [/filter]
		    [filter_second]
		        id=$second_unit.id
		    [/filter_second]
		    [primary_attack]
		        range=melee
		    [/primary_attack]
		    amount =$unit.hitpoints
		    kill = yes
		    experience = no
		[/harm_unit]
		
		[message]
		side=2
		[not]
		id=book_master
		[/not]
		message= _"Нашого Майстра перемогли, відступаймо!"
		[/message]
		
        [store_unit]
            [filter]
                side=2
			    [not]
		            id=book_master
		        [/not]
            [/filter]
            variable=units_to_move
        [/store_unit]

    {FOREACH units_to_move i}
        {VARIABLE x1 $units_to_move[$i].x}
        {VARIABLE y1 $units_to_move[$i].y}

        [move_unit]
            x=$x1
            y=$y1
		    side=2
            to_x=27
            to_y=1
        [/move_unit]

        [kill]
            x=27
            y=1
            side=2
        [/kill]
    {NEXT i}

    {CLEAR_VARIABLE units_to_move}

		{DELAY 800}
		
		{MOVE_UNIT id=father 22 1}
		{MOVE_UNIT id=haralin 22 1}
		[message]
		speaker=haralin
		message= _"Батьку, як гадаєш, що це за Владика? Та ще й цей розбійник використовував дивну силу."
		[/message]
		[message]
		speaker=father
		message= _"Та й... Не мороч цим ні мені, ні собі голову. Гайда в село."
		[/message]
		
		{DELAY 500}
		
		[move_unit]
		    side=1
			    [and]
			    [not]
			        id=haralin, father, guard1, guard2
			    [/not]
			    [/and]
		    to_x = 13
		    to_y = 17
		[/move_unit]
		
		{MOVE_UNIT id=father 18 16}
		{MOVE_UNIT id=guard1 13 12}
		{MOVE_UNIT id=guard2 22 13}

		{MOVE_UNIT id=haralin 22 6}
		{MODIFY_UNIT id=haralin facing nw} {DELAY 500}
		
		[message]
		    speaker=narrator
		    message= {CAPTION ( _ "???")} + _"..."
		[/message]
		
		{MODIFY_UNIT id=haralin facing ne} {DELAY 500}
		
		[message]
		    speaker=narrator
		    message= {CAPTION ( _ "???")} + _"..."
		[/message]
		
		{MOVE_UNIT id=haralin 17 6}
		
		[message]
		    speaker=narrator
		    message= {CAPTION ( _ "???")} + _"<i>Ти маєш подивитися.</i>"
		[/message]
		
		{MODIFY_UNIT id=haralin facing ne} {DELAY 500}
		{MODIFY_UNIT id=haralin facing nw} {DELAY 500}
		{MODIFY_UNIT id=haralin facing ne} {DELAY 500}
		
		[message]
		    speaker=haralin
		    message= _"Що? Знову цей голос..."
		[/message]
		
		{MOVE_UNIT id=haralin 19 6}
		
		[message]
		    speaker=narrator
		    message= {CAPTION ( _ "???")} + _"<i>Ім'ям Світла, ти маєш подивитися. Негайно!</i>"
		[/message]
		
		{MOVE_UNIT id=haralin 22 2}
		
		{DELAY 1000}
		
		{PLACE_IMAGE (items/book5.png) 22 1}
		
		{DELAY 500}
		
		[message]
		    speaker=haralin
		    message= _"У таборі цього розбійника є якась книга. Я якраз нещодавно навчився читати, а книги дорогі, тож..."
		[/message]
		
		{MOVE_UNIT id=haralin 22 1}
		
		[remove_item]
            x,y=22,1
            image="items/book5.png"
        [/remove_item]
		
		[message]
		    speaker=haralin
		    message= _"<i>(роздивляється книгу)</i> Я вперше бачу такі літери, в нас так не пишуть, але я відчуваю, що від цієї книги віє силою. Може, в ній я дізнаюся про ту дивну силу?"
		[/message]
		
		[message]
		    speaker=haralin
		    message= _"О! Тут ще є сувої якісь. Написано 'с-ло-в-ни-к' і поряд ота дивна мова. Мені це знадобиться!"
		[/message]
		
		[message]
		    speaker=narrator
		    message= {CAPTION ( _ "???")} + _"..."
		[/message]
		
		{MODIFY_UNIT id=haralin facing nw} {DELAY 500}
		{MODIFY_UNIT id=haralin facing ne} {DELAY 500}
		
		[message]
		    speaker=haralin
		    message= _"Нікому не варто про це знати чи бачити, я не хочу проблем."
		[/message]
		
		{MOVE_UNIT id=haralin 20 18}
		
		[modify_unit]
		    [filter]
			    id=$second_unit.id
			[/filter]
		    experience = "$($second_unit.experience + 16)" 
		[/modify_unit]
		
		{CLEAR_VARIABLE who_attacked_by_book_master}
    [/event]
	
	##time over event
	[event]
	name= time over
	    [message]
		    speaker=book_master
		    message= _"Прокляття, схоже, ці селюки виявилися сильнішими, ніж ми гадали. Забираймося звідси!"
		[/message]
		
		[store_unit]
            [filter]
                side=2
            [/filter]
            variable=units_to_move
        [/store_unit]

    {FOREACH units_to_move i}
        {VARIABLE x1 $units_to_move[$i].x}
        {VARIABLE y1 $units_to_move[$i].y}

        [move_unit]
            x=$x1
            y=$y1
		    side=2
            to_x=27
            to_y=1
        [/move_unit]

        [kill]
            x=27
            y=1
            side=2
        [/kill]
    {NEXT i}

    {CLEAR_VARIABLE units_to_move}
		
		[message]
		    speaker=haralin
		    message= _"Перемога, ура! Так, так, забирайтеся звідси!"
		[/message]
		
		[message]
		    speaker=father
		    message= _"Та й, та не галасуй ти так... Гайда в село."
		[/message]
		
		[message]
            speaker,image=narrator,wesnoth-icon.png
            message=_"Хоч селяни й перемогли цього разу, але зовсім незабаром вони зіткнулися з силою, котру не змогли подолати, ніхто не зміг."
        [/message]
		
		[endlevel] 
            result=defeat
        [/endlevel]
	
	[/event]
	
	##father achievement
	[event]
    name=post_advance
    [filter]
        id=father
    [/filter]
		
	[set_achievement]
        content_for=wesnoth-Chasing_the_Light
        id="ctl_father"
    [/set_achievement]
    [/event]
	  
	##enemies capture haralin's and father's house
	[event]
    name=moveto
        [filter]
            side=2
		    x,y=19,14
        [/filter]
	
	    {DELAY 600}
		
	    [message]
		    speaker=haralin
		    message= _"О ні, батьку, ці розбійники захопили нашу хату!"
		[/message]
		
		[message]
		    speaker=father
		    message= _"Та й, та не галасуй ти так... Як проженемо їх, то й хату повернемо."
		[/message]
    [/event]
	
	{HERODEATH_HARALIN}
	{HERODEATH_FATHER}

[/scenario]