#textdomain wesnoth-chasing_the_light

[scenario]
    id=01_The_Book
    name= _ "The Book"
    map_data="{~add-ons/Chasing_the_Light/maps/01_The_Book.map}"
	{DEFAULT_SCHEDULE}
	{TURNS 24 22 20}
	carryover_percentage=0

    victory_when_enemies_defeated=yes
	dissalow_recall=no
	next_scenario=02_Invasion
	
	[story]
	[part]
            title= _ "<i>Chasing the Light</i>
Chapter One"
        [/part]
        [part]
            title= _ "Chapter One
Gift from Wesfolk<i>(201-188 BW)</i>"
        [/part]
        [part]
            story= _ "Ця історія сталася ще задовго до того, як майбутній Король Хальдрік І навіть народився, вона розповідає про першу велику війну на Зеленому Острові, про першу війну з Весфольками."
        [/part]
        [part]
            story= _ "Ми процвітали, ми були сильні і численні. Ми жили у багатих землях, і у нас була безліч королів. І ось пришли <i>вони</i>, Весфольки. Вони були злісні, жорстокі і брудні."
            background=story/intro_01.webp
        [/part]
        [part]
            story= _ "Вони висадилися на півночі, стрімко розкидаючи свої сили по всьому Острову та захоплюючи нові землі. Весфольки були нечисленні, але вони володіли таємничою силою, що вони називали 'магією', а також, за чутками, керували мстивими духами і легіонами живих мерців."
            background=story/landscape-hills-02.webp
        [/part]
		
        [part]
            story= _ "Гаралін був одним з багатьох жителів Зеленого Острову, звичайним хлопчиною з невеликого прикордонного селища на півночі Блекмору. До його села ще не докотилися новини про висадку Весфольків, тому всі жили своїм звичним життям."
		background=story/landscape-castle.webp
		[/part]
		
		[part]
            story= _ "Але приблизно з того часу хлопця почав турбувати загадковий безвучний голос, що іноді лунав в його голові, розповідаючи про шлях Світла. Гаралін спочатку намагався ігнорувати його, але зрештою почав потроху прислухатися до нього, бо той часто давав корисні поради, хоча так і не розумів, чи то справді з ним хтось розмовляє, чи то просто його відчуття озвучувалися в думках."
        [/part]
		
		
		[part]
            story= _ "І ось одного разу він знову почув той самий голос, що кликав його на північ села."
        [/part]
		
		[part]
            story= {CAPTION ( _ "???")} + _ "Гараліне, твій час майже настав. Ти зрозумієш, коли побачиш все сам
...
Хай направить тебе Світло."
        [/part]
    [/story]
	
	{CTL_GI_TRACK {JOURNEY_01} }
	

    [side]
        side=1
        id,defeat_condition=haralin,never

        {GOLD 150 100 50}
        {INCOME 2 1 0}
        controller=human
        team_name=Islefolk
				[unit]
            id=guard1
			type=Spearman
            side=1
			facing=n
            x=13
            y=12
            {IS_LOYAL}
        [/unit]
		#ifdef NORMAL
		[unit]
            id=guard2
			type=Bowman
            side=1
			facing=n
            x=22
            y=13
            {IS_LOYAL}
        [/unit]
		#endif
		
		#ifdef HARD
		[unit]
            id=guard2
			type=Bowman
            side=1
			facing=n
            x=22
            y=13
            {IS_LOYAL}
        [/unit]
		#endif
		
		#ifdef HARD
		{NAMED_UNIT 1 (Spearman) 6 3 guard3 _"Амакрі" (
            [modifications]
			facing=n
                {TRAIT_LOYAL}
            [/modifications]
        )}
		#endif
        shroud=no
        fog=no
        {FLAG_VARIANT long}
        user_team_name=_"Islefolk"
    [/side]


    [side]
        side=2
        {GOLD 100 150 150}
        {INCOME 0 0 0}
		controller=ai
        id=book_master
        shroud=no
        fog=no
        team_name=Wesfolk
        user_team_name=_ "Wesfolk"
               {FLAG_VARIANT ragged}
        recruit=bandit, Footpad, Poacher, Thug
    [/side]


    # Set required variables and initial dialogue
    
    # prestart events:
    # set starting scenario objectives
    # set starting variables
    [event]
        name=prestart
        # set starting scenario objectives
        [objectives]
            [objective]
                description=_ "Defeat enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Andrin"
                condition=lose
            [/objective]
			[objective]
                description= _ "Death of Haralin"
                condition=lose
            [/objective]
        [/objectives]
		
		[unit]
		{SINGLEUNITWML_FATHER}
        
		facing=n
		x=18
		y=16
        dissalow_recall=no
		canrecruit=yes
        unrenamable=yes
		[/unit]
		[set_extra_recruit]
            id=father
            extra_recruit={FATHER_BOOK_RECRUIT}
        [/set_extra_recruit]
		
		
		
      [/event]
	  
	  	[event]
        name=start
		
		{DELAY 500}
		{MODIFY_UNIT id=guard1 facing se}
		
		[message]
		speaker=guard1
		message= _"Старійшино! Бачу групу неопізнаних людей на північному сході від села!"
		[/message]
		
		{MODIFY_UNIT id=guard1 facing n}
		
		{DELAY 500}
		
		[move_unit_fake]
		type=Dark Sorcerer
		side=2
		x=27,26,25,24,23,22
		y=1,1,2,2,2,1
		[/move_unit_fake]
		
		[unit]
            id=book_master
            unrenamable=yes
			type=Dark Sorcerer
            side=2
            x=22
            y=1
			ai_special=guardian
            canrecruit=yes
        [/unit]
		
		[message]
		speaker=book_master
		message= _"Складіть зброю, жалюгідні селюки, і може, ми залишимо вас в живих!"
		[/message]
		
		[message]
		speaker=father
		message= _"Та й, що це ти торочиш? Поглянь на себе, одягнений, наче місцевий дурень з ярмарку. Забирайся з нашої землі негайно!"
		[/message]
		
		[message]
		speaker=guard1
		message= _"Так, забирайся звідси! Інакше помреш!"
		[/message]
		
		[message]
		speaker=book_master
		message= _"Пф, які неосвідчені йолопи. Що ж, ви самі накликали на себе смерть."
		[/message]
		
		[message]
		speaker=father
		message= _"Ми ще подивимося, хто тут йолоп, коли скидатимемо твій труп у помийну яму!"
		[/message]
		
		{DELAY 1500}
		
		[move_unit_fake]
		type=haralin_0
		x=6,7,7
		y=18,17,16
		[/move_unit_fake]
		
		[unit]
		{SINGLEUNITWML_HARALIN}
            name= _ "Haralin"
            unrenamable=yes
			canrecruit=no
			type=haralin_0
            side=1
            x=7
            y=16
            {IS_HERO}
        [/unit]
		
		{VARIABLE no_spellcasting_event dummy}
		
		[message]
		speaker=haralin
		message= _"Батьку, що тут відбувається?!"
		[/message]
		
		{MODIFY_UNIT id=father facing w}
		
		[message]
		speaker=father
		message= _"Та й, просто купка бандитів з ватажком у шутовській одежі."
		[/message]
		
		[message]
		speaker=haralin
		message= _"Що ж, тоді проженемо їх! Нарешті я використаю мою палицю!"
		[/message]
		
		[message]
		speaker=father
		message= _"Еге, тільки не заходь далеко та не роби необачних вчинків."
		[/message]
		
		{MODIFY_UNIT id=father facing n}
		
		[/event]
		
		[event]
		  name=attack
		  [filter]
            id=haralin
        [/filter]
		[message]
		speaker=unit
		message= _"Смакуй мою палицю, бандюго!"
		[/message]
		[message]
		speaker=narrator
		message= {CAPTION ( _ "???")} + _"..."
		[/message]
		[/event]
		
		[event]
		  name=attack
		  [filter_attack]
		  range=ranged
		  [/filter_attack]
		  [filter]
            id=book_master
        [/filter]
		[message]
		speaker=unit
		message= _"Ім'ям Темряви, помри!"
		[/message]
		[/event]
	  
	      [event]
		  name=attacker hits
		  [filter_attack]
		  range=ranged
		  [/filter_attack]
		  [filter]
            id=book_master
        [/filter]
		
		[set_variable]
            name=who_attacked_by_book_master
            value=$second_unit.id
        [/set_variable]
		
		[if]
		[variable]
                name="who_attacked_by_book_master"
                equals=haralin
            [/variable]
            [then]
                [message]
		speaker=second_unit
		message= _"Аааа, що, що це таке? Невже це 'чаклунство' про це розповідають в казках?"
		[/message]
            [/then]
            [else]
                [message]
		speaker=second_unit
		message= _"Аааа, що, що це таке?"
		[/message]
		[message]
		speaker=haralin
		message= _"Батьку, що це? Схоже на 'чаклунство' з казок, які мені розповідали в дитинстві."
		[/message]
		
            [/else]
        [/if]
		
		[message]
		speaker=father
		message= _"Та й, щоб це не було, ми маємо з цим покінчити."
		[/message]
		      [/event]
	  
	  
	  [event]
        name=last breath
        [filter]
            id=book_master
        [/filter]
		[message]
		speaker=book_master
		message= _"Я підвів свого Владику..."
		[/message]
		
		
		[message]
		speaker=second_unit
		message= _"<i>(удар)</i> Помри вже нарешті!"
		[/message]
		
		[harm_unit]
		[filter]
            id=book_master
        [/filter]
		[filter_second]
		    id=second_unit
		[/filter_second]
		[primary_attack]
		range=melee
		[/primary_attack]
		amount = 7
		[/harm_unit]
		
		[kill]
            side=2
        [/kill]
		
		{MOVE_UNIT id=father 22 1}
		{MOVE_UNIT id=haralin 22 1}
		[message]
		speaker=haralin
		message= _"Батьку, як гадаєш, що це за Владика? Та ще й цей розбійник використовував дивну силу."
		[/message]
		[message]
		speaker=father
		message= _"Та й... Не мороч цим ні мені, ні собі голову. Гайда в село."
		[/message]
		
		
		{DELAY 500}
		
		[move_unit]
		side=1
			[and]
			[not]
			id =haralin, father, guard1, guard2
			[/not]
			[/and]
		to_x = 13
		to_y = 17
		[/move_unit]
		
		{MOVE_UNIT id=father 18 16}
		{MOVE_UNIT id=guard1 13 12}
		{MOVE_UNIT id=guard2 22 13}


		
		{MOVE_UNIT id=haralin 22 6}
		
		[message]
		speaker=narrator
		message= {CAPTION ( _ "???")} + _"..."
		[/message]
		
		{MODIFY_UNIT id=haralin facing n} {DELAY 500}
		
		[message]
		speaker=narrator
		message= {CAPTION ( _ "???")} + _"..."
		[/message]
		
		{MOVE_UNIT id=haralin 17 6}
		
		[message]
		speaker=narrator
		message= {CAPTION ( _ "???")} + _"<i>Ти маєш подивитися.</i>"
		[/message]
		
		{MODIFY_UNIT id=haralin facing n} {DELAY 500}
		{MODIFY_UNIT id=haralin facing nw} {DELAY 500}
		{MODIFY_UNIT id=haralin facing ne} {DELAY 500}
		
		[message]
		speaker=haralin
		message= _"Що? Знову цей голос..."
		[/message]
		
		{MOVE_UNIT id=haralin 19 6}
		
		[message]
		speaker=narrator
		message= {CAPTION ( _ "???")} + _"<i>Ім'ям Світла, ти маєш подивитися. Негайно!</i>"
		[/message]
		
		{MOVE_UNIT id=haralin 22 2}
		
		{DELAY 1000}
		
		
		{PLACE_IMAGE (items/book5.png) 22 1}
		
		{DELAY 500}
		
		[message]
		speaker=haralin
		message= _"У таборі цього розбійника є якась книга. Я якраз нещодавно навчився читати, а книги дорогі, тож..."
		[/message]
		
		{MOVE_UNIT id=haralin 22 1}
		
		[remove_item]
            x,y=22,1
            image="items/book5.png"
        [/remove_item]
		
		[message]
		speaker=haralin
		message= _"<i>(роздивляється книгу)</i> Я вперше бачу такі літери, в нас так не пишуть, але я відчуваю, що від цієї книги віє силою. Може, в ній я дізнаюся про ту дивну силу?"
		[/message]
		
		[message]
		speaker=haralin
		message= _"О! Тут ще є сувої якісь. Написано 'с-ло-в-ни-к' і поряд ота дивна мова. Мені це знадобиться!"
		[/message]
		
		[message]
		speaker=narrator
		message= _"..."
		[/message]
		
		{MODIFY_UNIT id=haralin facing nw} {DELAY 500}
		{MODIFY_UNIT id=haralin facing ne} {DELAY 500}
		
		[message]
		speaker=haralin
		message= _"Нікому не варто про це знати чи бачити, я не хочу проблем."
		[/message]
		
		{MOVE_UNIT id=haralin 20 18}
		
		{NEW_GOLD_CARRYOVER 0}
    [/event]
	
	[event]
	name= time over
	[message]
		speaker=book_master
		message= _"Прокляття, схоже, ці селюки виявилися сильнішими, ніж ми гадали. Забираймося звідси!"
		[/message]
		[kill]
		side=2
		[/kill]
		
		[message]
		speaker=haralin
		message= _"Перемога, ура! Так, так, забирайтеся звідси!"
		[/message]
		
		[message]
		speaker=father
		message= _"Та й, та не галасуй ти так... Гайда в село."
		[/message]
		
		[message]
            speaker,image=narrator,wesnoth-icon.png
            message=_"Хоч селяни й перемогли цього разу, але зовсім незабаром вони зіткнулися з силою, котру не змогли подолати, ніхто не зміг."
        [/message]
		
		[endlevel] 
            result=defeat
        [/endlevel]
	
	[/event]
	  
	{HERODEATH_HARALIN}
	{HERODEATH_FATHER}

[/scenario]