#textdomain wesnoth-chasing_the_light




# put this here so it can be used by panacea (it's also used in some last breath events)
#define CONTINGENCY_GLOBAL_CONDITIONS
    {AND(
        {VARIABLE_CONDITIONAL skill_contingency equals yes}
        {HAVE_UNIT id,race=daeola,human} # daeola can't cast spells during polymorph, including contingency
    )}
#enddef








#######################################################################################################################################################
#----------------------------------------------------------------- "PRIVATE" MACROS -------------------------------------------------------------------
#######################################################################################################################################################
#                                                                   GROUP 0 SKILLS
#######################################################################################################################################################

#############################
# MAGIC MISSILE
#############################
#define EVENT_MAGIC_MISSILE_D
    [event]
        name=refresh_daeola_skills
        first_time_only=no
        {FILTER_CONDITION({VARIABLE_CONDITIONAL skill_magic_missile_d equals yes})}
        [object]
            id,take_only_once=skill_magic_missile_d,no {FILTER id=daeola}
            {EFFECT new_attack (
                name,description,icon=missile,_"missile",attacks/magic-missile.png
                range,type,damage,number=ranged,fire,7,3
                [specials]
                    {WEAPON_SPECIAL_MAGICAL}
                [/specials] )}
        [/object]
    [/event]
#enddef
#define ANIMATIONS_MAGIC_MISSILE PATH
    [attack_anim]
        {FILTER_ATTACK name=missile}
        offset=0
        {MAGIC_MISSILE 11 -20}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 11 -20}
        start_time=-800
        {FRAME image={PATH}/daeola.png:[100,700,200]}
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
    [/attack_anim]
#enddef



#######################################################################################################################################################
#                                                                   GROUP 1 SKILLS
#######################################################################################################################################################


#############################
# LEVITATE
#############################
#define EVENT_LEVITATE_D
    [event]
        name=skill_levitate_d
        first_time_only=no
        {ANIMATE_UNIT id=daeola skill_levitate_d}
        [modify_unit]
            {FILTER id=daeola}
            [object]
                duration,id=turn,skill_levitate_d
                {EFFECT new_ability ([abilities]
                    [skirmisher]
                        id,affect_self=skirmisher,yes
                    [/skirmisher]
                [/abilities])}
                {EFFECT defense (replace=yes
                    [defense]
                        {FLY_DEFENSE -50} # 50% hit-chance on all terrain
                    [/defense])}
                {EFFECT movement_costs (replace=yes
                    [movement_costs]
                        {FLY_MOVE} # fast movement on most terrains
                    [/movement_costs])}
            [/object]
        [/modify_unit]
        
        # kill daeola if he was levitating over unwalkable terrain, and is now unable to move
        [event]
            name=side 1 turn refresh,skill_levitate_d_cancel
            {REMOVE_OBJECT skill_levitate_d id=daeola}
            [if] {HAVE_UNIT (id,defense=daeola,100)} {THEN(
                [message]
                    speaker=daeola
                    message=_"My levitate spell has ended over impassable terrain! I‘m falling to my death!"
                [/message]
                {KILL id=daeola ANIMATE=yes}
                [endlevel]
                    result=defeat
                [/endlevel]
            )} [/if]
        [/event]
    [/event]
    [event]
        name=refresh_daeola_skills
        first_time_only=no
        {FILTER_CONDITION({VARIABLE_CONDITIONAL skill_levitate_d not_equals yes})}
        {FIRE_EVENT skill_levitate_d_cancel}
    [/event]
#enddef
#define ANIMATIONS_LEVITATE PATH
    [animation]
        apply_to=skill_levitate_d
        {SOUND_FRAME sound=skill-levitate.wav}
        {FRAME image={PATH}/daeola.png:[50,300,50]}
        {FRAME submerge,image=0.01,"{PATH}/daeola-shadow.png~BLIT({PATH}/daeola-noshadow.png~RC(magenta>red),0,-[1,2,3,4]):[100,150,200,250]"}
        {OVERLAY_FRAME halo=halo/saurian-magic-halo-[1~7].png:75}
    [/animation]
    [standing_anim]
        {FILTER_OBJECT_ID skill_levitate_d}
        {FRAME submerge,image=0.01,"{PATH}/daeola-shadow.png~BLIT({PATH}/daeola-noshadow.png~RC(magenta>red),0,-[4~1,2~8,8~5,5,5~8,8~5]):350"}
    [/standing_anim]
    [movement_anim]
        {FILTER_OBJECT_ID skill_levitate_d}
        {FRAME submerge,image=0.01,"{PATH}/daeola-shadow.png~BLIT({PATH}/daeola-noshadow.png~RC(magenta>red),0,-4):200"}
    [/movement_anim]             
#enddef



#######################################################################################################################################################
#                                                                  "PUBLIC" MACROS
#######################################################################################################################################################
#############################
# RESELECT SKILLS
#############################
#define RESELECT_SKILLS_AFTER_OBJECTIVES WML_BEFORE WML_AFTER
    # doing things after showing objectives is hard. This approximates it.
    [listen_for_mousemove]
    [/listen_for_mousemove]
    [event]
        name=mousemove_synced
        [do_command]
            [fire_event]
                raise=mousemove # convert to a synced context
            [/fire_event]
        [/do_command]
    [/event]
    [event]
        name=select
        [do_command]
            [fire_event]
                raise=mousemove # convert to a synced context
            [/fire_event]
        [/do_command]
    [/event]
    [event]
        name=mousemove,recruit,recall,side 1 turn end
        {WML_BEFORE}
        [select_daeola_skills]
        [/select_daeola_skills]
        {CLEAR_VARIABLE spellcasted_this_turn}
        {FIRE_EVENT refresh_daeola_skills}
        {WML_AFTER}
    [/event]
#enddef
#define EVENT_REMOVE_SKILLS
    [event]
        name=refresh_daeola_skills
        first_time_only=no
        {REMOVE_OBJECT skill_magic_missile_d   id=daeola}
        {REMOVE_OBJECT skill_levitate_d        id=daeola}
    [/event]
#enddef


#############################
# GLOBAL EVENTS
#############################
#define GLOBAL__SPELLCASTING_EVENTS
    {EVENT_REMOVE_SKILLS} # create this event first, so we remove and THEN re-add
    
    {EVENT_MAGIC_MISSILE_D}
    {EVENT_LEVITATE_D}
    
    
    #--------------------
    # CAST SKILL IN A SYNCED CONTEXT
    #--------------------
    # don't do this directly from spellcasting.lua, or we get OOS replays and the player can undo
    [event]
        name=cast_skill_synced
        first_time_only=no
        [do_command]
            [fire_event]
                raise=$skill_id
            [/fire_event]
        [/do_command]
        {CLEAR_VARIABLE skill_id}
    [/event]
    
    
    #--------------------
    # NEW TURN RESET
    #--------------------
    [event]
        name=new turn
        first_time_only=no
        {CLEAR_VARIABLE spellcasted_this_turn} # used by lua
        {CLEAR_VARIABLE disable_xp_message}
    [/event]
    
    
    #--------------------
    # PREVENT BADLY-TIMED SPELLS
    #--------------------
    [event]
        name=attack
        first_time_only=no
        {VARIABLE is_during_attack yes}
    [/event]
    [event]
        name=attack end
        first_time_only=no
        {CLEAR_VARIABLE is_during_attack}
    [/event]
    [event]
        name=start,side 1 turn end
        first_time_only=no
        {VARIABLE not_player_turn yes}
    [/event]
    [event]
        name=new turn
        first_time_only=no
        {CLEAR_VARIABLE not_player_turn}
    [/event]
    
    
    #--------------------
    # PREVENT LEVELING
    #--------------------
    [event]
        name=pre advance
        first_time_only=no
        {FILTER id=daeola}
        [modify_unit]
            {FILTER id=daeola}
            experience=$($unit.max_experience-1)
        [/modify_unit]
        [if] {VARIABLE_CONDITIONAL disable_xp_message not_equals yes} {THEN([floating_text]
            x,y,text=$unit.x,$unit.y,_"<span color='#a308b8' size='small'>Max XP!</span>"
        [/floating_text])} [/if]
        {VARIABLE disable_xp_message yes}
    [/event]
#enddef





#############################
# ANIMATIONS
#############################
#define SPELLCASTING_ANIMATIONS PATH
{ANIMATIONS_MAGIC_BLAST {PATH}}
    {ANIMATIONS_MAGIC_MISSILE {PATH}}
    {ANIMATIONS_LEVITATE {PATH}}
        
    #--------------------
    # DEFAULT ANIMATIONS
    #--------------------
    
    [leading_anim]
        start_time=-250          {FRAME image={PATH}/daeola.png:500}
        overlay_start_time=-100  {OVERLAY_FRAME halo_x,halo_y,halo=14,-25,halo/misc/leadership-flare-[1~13].png:20}
    [/leading_anim]
    [recruiting_anim]
        start_time=-250          {FRAME image={PATH}/daeola.png:500}
        overlay_start_time=-100  {OVERLAY_FRAME halo_x,halo_y,halo=14,-25,halo/misc/leadership-flare-[1~13].png:20}
    [/recruiting_anim]
    
    [standing_anim]
        base_score=-1 # avoid using this animation if any others apply
        {FRAME image={PATH}/daeola.png}
    [/standing_anim]
    [movement_anim]
        base_score=-1 # avoid using this animation if any others apply
        {FRAME image={PATH}/daeola.png}
    [/movement_anim]
#enddef





#############################
# UTILITY MACROS
#############################
#define MIMIC_daeola ID WML
    {STORE_SKILLS}
    {MODIFY_UNIT id=daeola id oldDelf} {MODIFY_UNIT id={ID} id daeola}
    {MODIFY_UNIT id=familiar id oldFamiliar}
    [set_variables]
        name,mode,to_variable=not_p,replace,p # polymorph
    [/set_variables]
    {CLEAR_VARIABLE p}
    
    {WML}
    
    {UNSTORE_SKILLS}
    {MODIFY_UNIT id=daeola id {ID}} {MODIFY_UNIT id=oldDelf id daeola}
    {MODIFY_UNIT id=oldFamiliar id familiar}
    [set_variables]
        name,mode,to_variable=p,replace,not_p # polymorph
    [/set_variables]
    {CLEAR_VARIABLE not_p}
#enddef
#define __RENAME_SKILL_VARIABLE VAR1 VAR2
    # only rename if the variable exists, or else we get lots of non-null blank variables
    [if] {VARIABLE_CONDITIONAL {VAR1} equals yes}
        {THEN(  {VARIABLE {VAR2} ${VAR1}}  )}
        {ELSE(  {CLEAR_VARIABLE   {VAR2}}  )}
    [/if]
    {CLEAR_VARIABLE {VAR1}}
#enddef
#define STORE_SKILLS
    {__RENAME_SKILL_VARIABLE skill_magic_missile_d   old_magic_missile_d  }
    {__RENAME_SKILL_VARIABLE skill_levitate_d        old_levitate_d       }
   
#enddef
#define UNSTORE_SKILLS
    {__RENAME_SKILL_VARIABLE old_magic_missile_d   skill_magic_missile_d  }
    {__RENAME_SKILL_VARIABLE old_levitate_d        skill_levitate_d       }
   #enddef

