#textdomain wesnoth-Chasing_the_Light
[textdomain]
    name="wesnoth-Chasing_the_Light"
[/textdomain]

#ifdef Chasing_the_Light
[+language]
    type_any= _ "any"
[/language]
[lua]
    code="wesnoth.require '~add-ons/Chasing_the_Light/lua/spellcasting.lua'"
[/lua]

[lua]
    code="wesnoth.require '~add-ons/Chasing_the_Light/lua/note.lua'"
[/lua]

[lua]
    code="wesnoth.require '~add-ons/Chasing_the_Light/lua/map.lua'"
[/lua]

[lua]
    code = <<
            wesnoth.dofile('campaigns/Descent_into_Darkness/lua/' .. 'skip_animations.lua')
        >>
[/lua]
{~add-ons/Chasing_the_Light/utils}
{~add-ons/Chasing_the_Light/achievements.cfg}
[+units]
    {~add-ons/Chasing_the_Light/units/Haralin}
    {~add-ons/Chasing_the_Light/units/Daeola}
    {~add-ons/Chasing_the_Light/units/Mages}
    {~add-ons/Chasing_the_Light/units/Spirits}
    {~add-ons/Chasing_the_Light/units/Wesfolk}
    {~add-ons/Chasing_the_Light/units/Others}
[/units]
{~add-ons/Chasing_the_Light/scenarios}
[binary_path]
    path=data/add-ons/Chasing_the_Light
[/binary_path]

#endif

#ifdef EDITOR
[binary_path]
    path=~add-ons/Chasing_the_Light
[/binary_path]

[editor_group]
    id=ctl
    name= _ "Chasing the Light"
    icon="group_custom"
[/editor_group]
{~add-ons/Chasing_the_Light/utils/terrain.cfg}
{~add-ons/Chasing_the_Light/utils/terrain_graphics.cfg}
#endif

[campaign]
    id=Chasing_the_Light
    name= _ "Chasing the Light"
    abbrev= _ "CtL"
    start_year="200 BW"
    end_year="148 BW"
    icon="data/add-ons/Chasing_the_Light/images/units/daeola/daeola_4.png"
    background="data/add-ons/Chasing_the_Light/images/story/Temple_in_the_Deep.webp"
    image=
    define=Chasing_the_Light
    first_scenario=01_The_Book

    {CAMPAIGN_DIFFICULTY EASY   "data/add-ons/Chasing_the_Light/images/units/islefolk/apprentice.png~RC(magenta>red)" ( _ "Apprentice") ( _ "Easy")}
    {CAMPAIGN_DIFFICULTY NORMAL "data/add-ons/Chasing_the_Light/images/units/haralin/haralin_3.png~RC(magenta>red)" ( _ "War Sorcerer") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "data/add-ons/Chasing_the_Light/images/units/wesfolk/lenvan/lenvan.png~RC(magenta>red)" ( _ "Lich-Lord") ( _ "Hard")}

    description= _ "This is the story of the very first Mage of the good people of the Green Isle, who is no longer remembered in Wesnoth, even the wise wizards of Alduin no longer know his glorious name. But why has the person, who laid the foundations of human magic, fought against the Lich-Lords and even petrified Lich-Lord Caror himself, been forgotten forever? Well, you will find all the answers to these questions here, and hear the story of his victories and failures, joys and sorrows, rise and fall.

(Hard level, 13-15 scenarios)"

#ifdef Chasing_the_Light
    {GLOBAL__SPELLCASTING_EVENTS}
    {GLOBAL__SPELLCASTING_EVENTS_D}
    {GLOBAL__ANIMATIONS_RECRUIT}
    {GLOBAL__UNIVERSAL_AMLAS}

    [modify_unit_type]
        type, set_cost= Mudcrawler, 10
    [/modify_unit_type]

    [modify_unit_type]
        type, add_advancement= Footpad, bandit_net
    [/modify_unit_type]

    [modify_unit_type]
        type, set_advances_to= Wose, Wose Shaman
    [/modify_unit_type]

    [modify_unit_type]
        type=Red Mage
        remove_advancement=Arch Mage,Silver Mage
    [/modify_unit_type]

    [modify_unit_type]
        type, remove_advancement=White Mage, Mage of Light
    [/modify_unit_type]

    [modify_unit_type]
        type, remove_advancement=Dark Sorcerer, Lich
    [/modify_unit_type]
#endif
[/campaign]
