#textdomain wesnoth-ctl

#define PATH_D
units/daeola/L3#enddef

[unit_type]
    id=Daeola_L3
    name= _ "Prophetess of Light"
    race=human
    gender=female
    image="{PATH_D}/daeola.png"
	profile="portraits/daeola/daeola_L3.webp"
    hitpoints=48
    movement_type=smallfoot
    movement=6
    experience=90
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    usage=healer
    description= ""

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "{PATH_D}/daeola.png" "{PATH_D}/daeola.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [resistance]
        arcane=50
    [/resistance]
	[attack]
        name=crystal
        description=_"crystal"
        icon=attacks/crystal-claws.png
        type=blade
        range=melee
        damage=8
        number=2
    [/attack]
	 [attack_anim]
        [filter_attack]
            name=crystal
        [/filter_attack]
        start_time=-200
        [frame]
            image="{PATH_D}/daeola.png:[100,200,100]"
        [/frame]
    [/attack_anim]
	
	
	
#undef PATH_D
[/unit_type]
