#textdomain wesnoth-ctl

#define PATH_D
units/daeola/L2/#enddef

[unit_type]
    id=daeola_2
    name= _ "Light Mage"
    race=human
    gender=female
    image="{PATH_D}/daeola.png"
    hitpoints=30
    movement_type=smallfoot
    movement=5
    experience=50
    level=1
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}

    usage=healer
    description= ""
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "{PATH_D}/daeola.png" "{PATH_D}/daeola.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [resistance]
        arcane=60
    [/resistance]

    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]

    {SPELLCASTING_ANIMATIONS_DAEOLA {PATH_D}}
#undef PATH_D
[/unit_type]
