#textdomain wesnoth-chasing_the_light

#define PATH_D
units/daeola/L2/#enddef

[unit_type]
    id=daeola_2
    name= _ "Light Mage"
    race=human
    gender=female
    image="{PATH_D}/daeola.png"
    hitpoints=30
    movement_type=smallfoot
    movement=5
    experience=40
    level=1
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}	

    usage=healer
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	{DEFENSE_ANIM "{PATH_D}/daeola.png" "{PATH_D}/daeola.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [resistance]
        arcane=60
    [/resistance]
    
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
	
	[healing_anim]
        start_time=-525
        [frame]
            image="{PATH_D}/daeola.png:75"
        [/frame]
        [frame]
            image="{PATH_D}/daeola.png"
            halo=halo/holy/halo[6,1~6].png:75
        [/frame]
        [frame]
            image="{PATH_D}/daeola.png:75"
        [/frame]
    [/healing_anim]
	
	[attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-325
        [frame]
            image="{PATH_D}/daeola.png:25"
        [/frame]
        [frame]
            image="{PATH_D}/daeola.png:[100*2,150,100*3]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.ogg staff-miss.ogg -125}
    [/attack_anim]
	
	
	[animation]
        apply_to=pre_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            image="{PATH_D}/daeola.png:[200,100*7]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=10
            halo_y=-30~30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=0
            halo_y=-40~40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=-10
            halo_y=-30~30
        [/teleport_sparkle_3_frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            image="{PATH_D}/daeola.png:[100*7,200]"
        [/frame]
    [/animation]
	
	
	
	{SPELLCASTING_ANIMATIONS_D {PATH_D}}
	#undef PATH_D

[/unit_type]
