#textdomain wesnoth-chasing_the_light

[unit_type]
    id=daeola_1_unarmed
    name= _ "Apprentice"
    race=human
    gender=female
    image="units/daeola/L1/daeola-unarmed.png"
    hitpoints=22
    movement_type=smallfoot
    movement=5
    experience=25
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= ""
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [resistance]
        arcane=70
    [/resistance]
[/unit_type]
