#textdomain wesnoth-chasing_the_light
[unit_type]
    id=daeola_1
    name= _ "Apprentice"
    race=human
    gender=female
    image="units/daeola/daeola_1.png"
    profile="units/daeola/daeola_1.png"
    hitpoints=22
    movement_type=smallfoot
    movement=5
    experience=24
    level=0
    alignment=lawful
        advances_to=null
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	
	    [resistance]
        arcane=70
    [/resistance]

    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=4
        number=1
    [/attack]

[/unit_type]
