#textdomain wesnoth-chasing_the_light
[unit_type]
    id=daeola_2
    name= _ "Light Mage"
    race=human
    gender=female
    image="units/daeola/daeola_2.png"
    profile="units/daeola/daeola_2.png"
    hitpoints=30
    movement_type=smallfoot
    movement=5
    experience=40
    level=1
    alignment=lawful
        advances_to=null
    {AMLA_DEFAULT}	

    usage=healer
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [resistance]
        arcane=60
    [/resistance]
    
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]

[/unit_type]
