#textdomain wesnoth-chasing_the_light

[unit_type]
    id=Brazier
    name= _ "Brazier"
    race=mechanical
	unhealable=yes
    image="items/brazier.png~BLIT(items/brazier-lit1.png~CS(-130,20,170)~CROP(0,0,72,39),0,0)"
    profile="portraits/monsters/ant-egg.webp"
	hitpoints=40
    movement_type=none
    movement=0
    level=0
    alignment=neutral
    usage=none
    description=""
    die_sound=wail.wav
    # It should just sit there, but default behaviour kicks in and hflips,
    # so we make the base frame a blank
    [standing_anim]
        start_time=-50
        [frame]
            image="misc/blank-hex.png:50"
        [/frame]
	    [egg_frame]
            image="items/brazier.png~BLIT(items/brazier-lit[1~8].png~CS(-130,20,170)~CROP(0,0,72,39),0,0):150"
            auto_vflip=no
            auto_hflip=no
			layer=5
            base=90,144
            center=90,144
		[/egg_frame]
    [/standing_anim]
    [defend]
        start_time=-50
        [frame]
            image="misc/blank-hex.png:50"
        [/frame]
        [egg_frame]
            image="items/brazier.png~BLIT(items/brazier-lit[1~8].png~CS(-130,20,170)~CROP(0,0,72,39),0,0):150"
            auto_vflip=no
            auto_hflip=no
			layer=5
            base=90,144
            center=90,144
		[/egg_frame]
    [/defend]
    [death]
        start_time=-150
        egg_alpha=1~0:600
        [frame]
            image="misc/blank-hex.png:600"
        [/frame]
        [egg_frame]
            image="items/brazier.png:600"
            auto_vflip=no
            auto_hflip=no
			layer=5
            base=90,144
            center=90,144
        [/egg_frame]
    [/death]
    
    [resistance]
        blade=100
        pierce=80
        impact=120
        fire=80
        cold=80
        arcane=120
    [/resistance]
	
	[event]
	name=side 1 turn refresh
	first_time_only=no
	
	    [store_unit]
            [filter]
                type=Brazier
            [/filter]
            variable=brazier_var
        [/store_unit]

    {FOREACH brazier_var i}

	    [harm_unit]
		[filter]
		id=$brazier_var[$i].id
		[/filter]
	    amount={ON_DIFFICULTY 5 8 8}
		kill=no
	    [/harm_unit]
		
		[modify_unit]
		[filter]
		type=Brazier
		[/filter]
		resting=no
		[status]
		unhealable=yes
		[/status]
		[/modify_unit]
		
		[set_variable]
		name=brazier_var_hp
		value="$($brazier_var[$i].hitpoints - 8)"
		[/set_variable]
		
		[if]
		[variable]
		name=brazier_var_hp
		less_than_equal_to=1
		[/variable]
		[then]
		[kill]
		id=$brazier_var[$i].id
		animate=yes
		[/kill]
		[/then][/if]

    {NEXT i}

    {CLEAR_VARIABLE brazier_var_hp}
    {CLEAR_VARIABLE brazier_var}
	
	[/event]
	
	[event]
	name=turn refresh
	first_time_only=no
	
	    [store_unit]
            [filter]
                type=Brazier
            [/filter]
            variable=brazier_var
        [/store_unit]

    {FOREACH brazier_var i}
	
	    [modify_unit]
            [filter]
			    race=undead
			[/filter]
            [ai]
                [avoid]
                    x,y=$brazier_var[$i].x,$brazier_var[$i].y
                    radius=4
                [/avoid]
            [/ai]
        [/modify_unit]

    {NEXT i}
    {CLEAR_VARIABLE brazier_var}
	
	[/event]
	
	

[/unit_type]
