#textdomain Chasing_the_Light

[unit_type]
    id=Brazier
    name= _ "Brazier"
    race=mechanical
	unhealable=yes
    image="items/brazier.png~BLIT(items/brazier-lit1.png~CS(-130,20,170)~CROP(0,0,72,39),0,0)"
	hitpoints=50
    movement_type=none
	attacks=0
    level=1
    alignment=neutral
    usage=none
    description=""
    die_sound=wail.wav
	[abilities]
        {ABILITY_ILLUMINATES HALO="halo/illuminates_25.png"}
	    [scorch]
            id=scorch
            name= _ "scorch"
            description= _ "At the start of this unit's turn, it deals 10 arcane damage to all adjacent enemy units."
        
            [dummy_ability]
            [/dummy_ability]
        [/scorch]
    [/abilities]
	
	[event]
	name=new turn
	first_time_only=no
	
	[store_unit]
        [filter]
			ability=scorch
        [/filter]
        variable=scorch_ability_units
    [/store_unit]
	
	{FOREACH scorch_ability_units i}
	
	[store_unit]
        [filter]
		    race=undead
			[filter_adjacent]
			is_enemy=true
			x,y=$scorch_ability_units[$i].x,$scorch_ability_units[$i].y
			[/filter_adjacent]
        [/filter]
        variable=scorched_units
    [/store_unit]
	
	{FOREACH scorched_units j}
	
        [harm_unit]
            amount=10
			alignment=lawful
			damage_type=arcane
			fire_event=yes
            [filter]
                x,y=$scorched_units[$j].x,$scorched_units[$j].y
            [/filter]
			kill=yes
			animate=yes
        [/harm_unit]
    {NEXT j}
	{CLEAR_VARIABLE scorched_units}
	
	[redraw][/redraw]
	
	[modify_unit]
	    [filter]
	    x,y=$scorch_ability_units[$i].x,$scorch_ability_units[$i].y
	    [/filter]
	    resting=no
	[/modify_unit]
	
	[harm_unit]
		[filter]
		x,y=$scorch_ability_units[$i].x,$scorch_ability_units[$i].y
		[/filter]
	    amount=10
		kill=yes
		animate=yes
	[/harm_unit]
	
	{NEXT i}
	{CLEAR_VARIABLE scorch_ability_units}
	[/event]
	
    # It should just sit there, but default behaviour kicks in and hflips,
    # so we make the base frame a blank
    [standing_anim]
        start_time=-50
        [frame]
            image="misc/blank-hex.png:50"
        [/frame]
	    [egg_frame]
            image="items/brazier.png~BLIT(items/brazier-lit[1~8].png~CS(-130,20,170)~CROP(0,0,72,39),0,0):150"
            auto_vflip=no
            auto_hflip=no
			layer=5
            base=90,144
            center=90,144
		[/egg_frame]
    [/standing_anim]
    [defend]
        start_time=-50
        [frame]
            image="misc/blank-hex.png:50"
        [/frame]
        [egg_frame]
            image="items/brazier.png~BLIT(items/brazier-lit[1~8].png~CS(-130,20,170)~CROP(0,0,72,39),0,0):150"
            auto_vflip=no
            auto_hflip=no
			layer=5
            base=90,144
            center=90,144
		[/egg_frame]
    [/defend]
    [death]
        start_time=-150
        egg_alpha=1~0:600
        [frame]
            image="misc/blank-hex.png:600"
        [/frame]
        [egg_frame]
            image="items/brazier.png:600"
            auto_vflip=no
            auto_hflip=no
			layer=5
            base=90,144
            center=90,144
        [/egg_frame]
    [/death]
    
    [resistance]
        blade=100
        pierce=80
        impact=120
        fire=80
        cold=80
        arcane=120
    [/resistance]
	
#	[event]
#	name=side 1 turn refresh
#	first_time_only=no
#	
#	[store_unit]
#        [filter]
#            type=Brazier
#        [/filter]
#        variable=brazier_var
#    [/store_unit]
#
#    {FOREACH brazier_var i}
#
#	    [harm_unit]
#		[filter]
#		id=$brazier_var[$i].id
#		[/filter]
#	    amount=10
#		kill=no
#	    [/harm_unit]
#		
#		[modify_unit]
#		[filter]
#		type=Brazier
#		[/filter]
#		resting=no
#		[status]
#		unhealable=yes
#		[/status]
#		attacks_left=0
#		[/modify_unit]
#		
#		[set_variable]
#		name=brazier_var_hp
#		value="$($brazier_var[$i].hitpoints - 8)"
#		[/set_variable]
#		
#		[if]
#		[variable]
#		name=brazier_var_hp
#		less_than_equal_to=1
#		[/variable]
#		[then]
#		[kill]
#		id=$brazier_var[$i].id
#		animate=yes
#		[/kill]
#		[/then][/if]
#
#    {NEXT i}
#
#    {CLEAR_VARIABLE brazier_var_hp}
#    {CLEAR_VARIABLE brazier_var}
#	
#	[/event]
[/unit_type]
