#textdomain wesnoth-units
[unit_type]
    id=bandit_net
    name= _ "Net Bandit"
    race=human
    image="units/wesfolk/netman/netman.png"
    hitpoints=40
    movement_type=elusivefoot
    movement=6
    experience=70
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=24
    usage=mixed fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
	{DEFENSE_ANIM  "units/wesfolk/netman/netman.png" "units/wesfolk/netman/netman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=mace-spiked
        description=_"morning star"
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]
	
	[attack]
        name=net
        description=_"net"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=7
        number=3
        range=ranged
        icon=attacks/net.png
    [/attack]


	[attack_anim]
        [filter_attack]
            name=mace-spiked
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/wesfolk/netman/netman.png:[100,150,100]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=net
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        start_time=-200
        {SOUND:HIT_AND_MISS net.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
