#textdomain wesnoth-ctl
[unit_type]
    id=Wesfolk Fighter Prototype
    name= _ "Wesfolk Fighter Prototype"
    race=human
    image="units/wesfolk/faction/wesfolk-fighter.png"
    hitpoints=41
    movement_type=smallfoot
    movement=5
    experience=40
    level=1
    alignment=neutral
    advances_to=Wesfolk Taskmaster Prototype,Wesfolk Reaper Prototype
    cost=15
    usage=fighter
    description= _ "A whip is a difficult instrument to use, and designed more for discipline than for combat. As a symbol, however, they are second-to-none, and a high-ranking Wesfolk Flagellant is awarded privileges unattainable by their spear- or sword-wielding brethren. Eager to prove themselves, Wesfolk trainees thus carry whips into battle, bearing hefty shields to counterbalance their poor choice of weapon."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=90
        impact=80
        pierce=90
    [/resistance]
    {DEFENSE_ANIM  "units/wesfolk/faction/wesfolk-fighter.png" "units/wesfolk/faction/wesfolk-fighter.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=whip
        description=_"whip"
        icon=attacks/whip.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=whip
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/wesfolk/faction/wesfolk-fighter.png:[100,150,100]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
