#textdomain wesnoth-ctl

#define SINGLEUNITWML_FATHER
    side,id,name,profile=1,father,_"Andrin",portraits/humans/spearman-2.webp
    type=Spearman
    canrecruit=yes
    unrenamable=yes
#enddef
#define FATHER_BOOK_RECRUIT
    Woodsman, Ruffian, Peasant
#enddef

#define SINGLEUNITWML_HARALIN
    side,id,name,profile=1,haralin,_"Haralin",portraits/haralin/haralin_0.png
    canrecruit=yes
    unrenamable=yes
    [modifications]
        [trait]
            id,name,description=loyal_dummy,loyal,_"Zero upkeep."
        [/trait]
        [trait]
            id,name,description=intelligent_dummy,intelligent,""
        [/trait]
    [/modifications]
#enddef
#define HARALIN_BOOK_RECRUIT
#enddef
#define HARALIN_RAIDERS_RECRUIT
    Ruffian, Peasant, Thug, Poacher
#enddef
#define HARALIN_RESCUE_ARC_RECRUIT
    apprentice ,Spearman, Bowman, Fencer
#enddef
#define HARALIN_FAKE_LICH_ARC_RECRUIT
    Spearman, Bowman, Fencer, apprentice, Mage, Cavalryman
#enddef
#define HARALIN_AVENGE_ARC_RECRUIT
    Spearman, Bowman, Fencer, apprentice, Mage, Cavalryman, Horseman
#enddef
#define HARALIN_STONE_LICH_ARC_RECRUIT
    Spearman, Bowman,Fencer, Cavalryman, Horseman, Rogue Mage
#enddef
#define HARALIN_RUBY_ARC_RECRUIT
    Ghost, Rogue Mage
#enddef

#define SINGLEUNITWML_DAEOLA
    side,id,name,profile=1,daeola,_"Daeola",portraits/daeola/daeola_scar.png
    canrecruit=yes
	unrenamable=yes
    gender=female
    [modifications]
        {TRAIT_LOYAL_HERO}
        [trait]
		    #po: наївна  Через свій обмежений життєвий досвід може вірити речам, які інші не вважатимуть нічим більшим за маячню.
            id,name,description=naive_dummy,_"naive",_"Due to her limited life experience, Daeola may believe things that others would consider nothing more than nonsense."
        [/trait]
    [/modifications]
#enddef
#define DAEOLA_ALL_TIME_RECRUIT
#enddef
#define DAEOLA_NO_HOPE_RECRUIT
    Spearman,Bowman,Fencer, Heavy Infantryman, Cavalryman, Horseman
#enddef

#define RECALL_COMPANION X Y
    {GET_COMPANION_ID SEARCH_RECALL=yes}
    [if] {NOT({HAVE_UNIT x,y={X},{Y}})} {THEN({RECALL_XY $companion_id {X} {Y}})}
	[/if]
    [if] {NOT({HAVE_UNIT x,y={X},{Y}})} {THEN({GENERIC_UNIT 1 Footpad {X} {Y}})}
	[/if]
    {GET_COMPANION_ID}
#enddef
