#textdomain wesnoth-chasing_the_light
[unit_type]
    id=haralin_3
    name=_ "War Sorcerer"
    race=human
    gender=male
    image="units/haralin/haralin_3.png"
    hitpoints=56
    movement_type=smallfoot
    movement=5
    experience=100
	{AMLA_DEFAULT}
    level=3
    alignment=neutral
        advances_to=null
    usage=mixed fighter
    description=_ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
	    [resistance]
        arcane=70
    [/resistance]
    [attack]
        name=blade staff
        description=_"blade staff"
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=15
        number=3
        icon="attacks/sword-astral.png"
    [/attack]
 
[/unit_type]
